apiVersion: v1
kind: Service
metadata:
  name: example-loadbalancer
  namespace: ingress-nginx
  annotations:
    # Set DNS to <namespace>-<service>.kube.axiome-it.lan
    dns.example.com/dns-name: "dns-mngr-example-loadbalancer.kube.axiome-it.lan."
    dns.example.com/zone: "axiome-it.lan."
    dns.example.com/ttl: "300"
spec:
  type: LoadBalancer
  selector:
    app.kubernetes.io/name: ingress-nginx
  ports:
    - name: http
      port: 80
      targetPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: example-loadbalancer2
  namespace: ingress-nginx
spec:
  type: LoadBalancer
  selector:
    app.kubernetes.io/name: ingress-nginx
  ports:
    - name: http
      port: 80
      targetPort: 80
