apiVersion: v1
kind: Service
metadata:
  name: example-loadbalancer
  namespace: ingress-nginx
  annotations:
    dns.example.com/dns-name: "ingress.example.lan."
    dns.example.com/zone: "example.lan."
    dns.example.com/ttl: "300"
spec:
  type: LoadBalancer
  selector:
    app.kubernetes.io/name: ingress-nginx
  ports:
    - name: http
      port: 80
      targetPort: 80
